#navbar-main{
    background-image: url("img/header.png");
}
a:focus{
    color: white !important;
}
a:active{
    color: white !important;
}
.footer{
    background-image: url("img/FOOTER\ 1.png");
   
    color: white !important;
}
.overlay{
    background: linear-gradient(253.7deg, rgba(4, 122, 35, 0.7) -20%, rgba(13, 126, 42, 0.675601) -16%, rgba(255, 249, 249, 0) 100%);

}
h1 {
    color: #047A23;
}
h5{
    text-align: center;
    color: #047A23;
}
.btn_Deposer{
    border-radius: 30px !important;
   align-items: center;
   display: right !important;
   background-color:#047A23;
   color: #fff !important;
}
button{
    background-color:#047A23;
}
::placeholder {
    color: #047A23 !important;
    
  }
  .form{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02)), #FFFFFF;
  }
 .team{
    background: #FFFFFF!important;
box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.25)!important;
border-radius: 5px!important;
;
 }

 .Otheroverlay{
    background: linear-gradient(0deg, rgba(4, 122, 35, 0.44), rgba(4, 122, 35, 0,44))!important;
 }

 .overlayrealisation{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44));
    border-radius: 20px 20px 0px 0px;
 }
 .realisation{
    background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px 20px 0px 0px;
 }

 .titreRealisation{
     color: white !important;
 }

 .btn-light{
    height: 50px;
    width: 170px;
  
    
    
background: #FFFFFF;
border-radius: 35px;
    color: #047A23 !important;
    position: absolute;
left: 33%;
top: 75%;
}

.faireUnDon{
    border-radius: 35px; 
    background-color:#047A23; 
    color: #FFFFFF !important;
    height: 60px;
    width: 413px;
}
 